* {
  box-sizing: border-box;
}


html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

body {
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
  color: white;
  background: #54368C;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
justify-content: center;
}

.sceneContainer {
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 60vh;
border-radius: 10px;
background-color: #673ab7;
padding: 10px;

}
.sceneContainer > div {
  height: 100%
}
.scene {
  background-color: #54368C;
  width:60%;
}
.settings {
  width: 40%;
  background-color: slateblue;
  padding: 20px;
  color: white;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.settingContainer {
  background-color: #51445d;
  padding: 8px;
  border-radius: 8px;
  width: 250px;
  height: fit-content;
}
.settingContainer h3 {
  text-align: center;
  cursor: pointer;
  margin: 7px;
}
.decorSetContainer {
  padding: 8px;
  background-color: blueviolet;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.decorSetList  .decorSetContainer:not(:first-child) {
  margin-top: 10px;
}

.decorSetContainer button {
  height: fit-content;
  background-color: #9357cc;
  color:#f0f0f0;
}
.decorSetContainer button:hover {
  background-color: #622c96;
}
.decorSetCatalog {
  margin-top: 10px;
  background-color: #54368c;
  border-radius: 8px;
}
.decorSetCatalog .decorSetTitle {
  text-align: center;
  border-radius: 8px 0px 18px 0px;
  background: #9357cc;
}
.decorSetCatalog .catalogCategory {
  padding: 5px 3px
}
.catalogItem {
  padding: 5px 3px
}
.selectedItem {
  background-color: #673ab7;
}
.itemBtns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

.decorSetTitle {
  font-size: 18px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  padding: 5px 0px;
}
.inputContainer input {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.btn {
  display: block;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.applyBtn {
  background-color: #e91e63;
  color: white;
}
.applyBtn:hover {
  background-color: #db1458;
}

.winSizeDetails {
  text-align: center;
}